
.no_pad
{
	padding: 0;
}
.no_marg
{
	margin: 0;
}
html {
    overflow: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/*
BODY
*/
body
{
	background-color: #27282e;
	color: #e8e5e0 !important;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
}

.no-pad
{
	padding: 0 !important;
	/* position: fixed; */
	z-index: 9;
}
/*
HEADER
*/

.header
{

	background-size: 100% 100%;

	width: 100%;
	height: 20vh;
	margin: 0;
}
nav
{
	color: rgba(232, 229, 234, 0.9);
	background-color: rgba(0, 0, 0, 0.377);
}

.nav-link
{
	color: rgba(232, 229, 234, 0.9);
	
}
.signin {
	margin-left: 4px;
	color: rgba(232, 229, 234, 0.85);
	border-color: rgba(232, 229, 234, 0.6);
}
nav button:hover
{
	color: rgba(232, 229, 234, 0.9) !important;
	background-color: rgb(89,92,96) !important;
}
.signup  {
	margin-left: 4px;
	color: rgba(232, 229, 234, 0.85);
	border-color: rgba(232, 229, 234, 0.6);
}


.signout {
	margin-left: 4px;
	color: rgba(232, 229, 234, 0.85);
	border-color: rgba(232, 229, 234, 0.6);
}


/*
FORM CONNECTION
*/

#signin_form{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
.form-control{
	background-color:transparent;
}
input {
    text-align: center;
}


#signup_form{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#forget_link a
{
	color: rgba(232, 229, 234, 0.678)
}

#forget_link
/*
** MAIN
*/
.main
{
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 80%;
	margin-bottom: 0;
}

/*
**ITEM
*/
#item
{
	padding-right: 0px;
	max-height: 100vh;
	margin-bottom: 2px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left: 0px;
}
.item_content
{
	margin: 2px;
	margin-right: 2px;
}
#item img
{
	background-color: rgba(0, 0, 0, 0.178);
	border-radius: 3px 3px 0 0;
}
#sup8
{
	width: 100%;
	height: auto;
}
/*
**Montage_view
*/

#choice
{
	margin: 0 50%;

	border-radius: 3px 3px 0 0;
}

#image_c
{
	width: 100%    !important;
	height: auto   !important;
	margin: 0 auto;

	border-radius: 3px 3px 0 0;
}

#image_c img
{
	flex: 0 0 50%;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 50%;;

}
video {
	width: 90%    !important;
	height: auto   !important;
	display:block;
	margin: 0 auto;

	background-color: rgba(0, 0, 0, 0.178);
	border-radius: 3px 3px 0 0;
   }



#montage_view
{
	margin: 2px;
	margin-left: 0;

	padding: 0;
	background-color: rgba(0, 0, 0, 0.178);
	border-radius: 3px 3px 0 0;
}


/*
**Resultat
*/

#output
{
	margin-top: 2px;
	padding: 0;
	margin-bottom: 2px;
	max-width: 32.5%;
	background-color: rgba(0, 0, 0, 0.178);
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
#output img
{
	display:block;
	margin: 2px auto;
	width: 90%;
}

/*
**FOOTER
*/

hr{
	margin: 0;
	padding: 0;
	height: 1px;
	color: black;
	background-color: black;
	border: none;
  }

  /*
  ** GALLERIE
  */
.gallerie_container
{
	margin: 0;
	padding: 0;
	min-width: 100vw;
	background-color: rgba(0, 0, 0, 0.178);
}
.pagination_container
{
	width: 100%;
	background-color: transparent;
	margin: 3px;
	padding: 0;
}
.pagination
{
	justify-content: center;
	padding-top: 4px;
}
.page-item a
{
	color: rgba(232, 229, 234, 0.85);
	border-color: rgba(232, 229, 234, 0.6);
	background-color: rgba(0, 0, 0, 0.178);
}
.row_gallerie
{
	justify-content: center;
}
.img_gal
{
	padding: 0;
	margin: 0;
	width: 100%;
	border: 2px solid black;
	border-bottom: 0px;
	object-fit: cover;
}
.div_img_gal
{
	padding: 1%;
}

/*
**Image Bar
*/

.bar
{

	justify-content: space-around;
	padding: 0;
	margin: 0;
	border: 2px solid black;
	background-color: #36373b;
}
.bar img
{
	margin-top: 2px;
	margin-bottom: 2px;
}
.bar span
{
	color: rgba(192, 186, 196, 0.719);
	font-size: 1.5rem;
	padding-left: 20%;
}
.like_img
{
	width: 100%;
}
.like_img:hover
{
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}
.dislike_img
{
	width: 100%;;
}
.dislike_img:hover
{
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}
.comment_img
{
	width: 100%;
}
.comment:hover
{
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}
.delete_icons
{
	width: 100%;
}
.delete_icons:hover
{
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}
/*
** FORM commentaire
*/
#form_comment
{
	border: 2px solid black;
	border-top: 0;
}
.comment_form input
{
	width: 100%;
}

/*
**list commentaire
*/

.lst_com
{
	margin: 0;
	padding: 0;
	border: 2px solid black;
	word-break: keep-all;
}

.id_com
{
	display: inline;
}
.form_cont
{
	background-color: rgba(0, 0, 0, 0.377);
	border: 2px solid black;
	width: 70%;
	padding-top: 0.5em;
	padding-bottom: 1em;
	margin: auto;
}
.form_change
{
	background-color: rgba(0, 0, 0, 0.377);
	width: 20%;
	padding-top: 4px;
	padding-bottom: 10px;
	margin: 10% auto 10% auto;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
}
.form_change input[type="email"], input[type="password"], input[type="text"]
{
	width: 100%;
	margin: auto;
}

.settings_input
{
	width: 60% !important;
}

.mail_receive
{
	padding-right: 8%;
}

.rz
{
	margin: auto;

}
.icc
{
	padding: 0;
	margin: 0;
}
.name_bar
{
	margin: auto;
	padding: 0;
}
.tt
{
	padding: 0;
	max-width: 17%;
}
.createur
{
	margin: auto;
	border: 2px solid rgb(32, 29, 34);
	border-top: none;
	border-left: none;
}
.like_count
{
	margin: auto;
	border: 2px solid rgb(32, 29, 34);
	border-top: none;
	border-left: none;
	border-right: none;
}

#footer_div
{
	text-align: right;
}

#error_div
{
	display: flex;
	padding-top: 2.6vh;
	font-size: 1.1rem;
	justify-content: center;
	width: 100vw;
	height: 10vh;
	background-color: rgb(99, 3, 3);
	border: 2px solid rgba(0, 0, 0, 0.24);
}
#success_div
{
	display: flex;
	padding-top: 2.6vh;
	font-size: 1.1rem;
	justify-content: center;
	width: 100vw;
	height: 10vh;
	background-color: rgb(2, 51, 10);
	border: 2px solid rgba(0, 0, 0, 0.24);
}